.hero-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(400px , 1fr));
}

@media (max-width:500px){
    .hero-wrapper{
        grid-template-columns: repeat(auto-fit , minmax(350px , 1fr));
    }
}
@media (max-width:380px){
    .hero-wrapper{
        grid-template-columns: repeat(auto-fit , minmax(300px , 1fr));
    }
}