.test-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media (max-width:380px){
    .test-grid{
        grid-template-columns: repeat(auto-fit , minmax(270px , 1fr));
    }
}