@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Poppins, Mullins, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif,;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  background-color: #F8F9FF;
}